In [1]:
import job_searches
from job_searches import find_jobs_from

In [2]:
desired_characs = ['titles','companies','links','date_listed']

In [6]:
find_jobs_from('Indeed','data analyst', 'omaha', desired_characs)

15 new job postings retrieved from Indeed. Stored in results.xls.

In [7]:
import pandas as pd
file = r'results.xls'
results = pd.read_excel(file)
results

,Unnamed: 0,titles,companies,links,date_listed
0,0,Sr. Business Analyst\nnew,Fiserv,www.Indeed.com//pagead/clk?mo=r&ad=-6NYlbfkN0B...,Just posted
1,1,Senior Business Intelligence Analyst\nnew,Creighton University,www.Indeed.com//rc/clk?jk=489448ee18af897a&fcc...,Today
2,2,Senior Business Services Analyst - Data Manage...,Conagra Brands,www.Indeed.com//rc/clk?jk=46b179f88c570790&fcc...,Today
3,3,Business Systems Analyst\nnew,Conagra Brands,www.Indeed.com//rc/clk?jk=ef1547e3a1d9d023&fcc...,Today
4,4,Data Analyst Manager\nnew,"Fiserv, Inc.",www.Indeed.com//rc/clk?jk=4878890878e6426f&fcc...,3 days ago
5,5,Sr. Data Analyst - Pricing\nnew,Spreetail,www.Indeed.com//rc/clk?jk=d0b75d3e8d159e98&fcc...,5 days ago
6,6,Business Objects Admin\nnew,CATCH Intelligence,www.Indeed.com//rc/clk?jk=c8d151cf3acf9e4f&fcc...,5 days ago
7,7,Business Intelligence Coordinator\nnew,Right at Home,www.Indeed.com//rc/clk?jk=1b9ae33645c3e354&fcc...,7 days ago
8,8,PROGRAM ANALYST\nnew,US Department of the Air Force,www.Indeed.com//rc/clk?jk=408d83525dcc1e55&fcc...,7 days ago
9,9,Business Complaints Analyst,PayPal,www.Indeed.com//rc/clk?jk=38f63f0668cdc27f&fcc...,10 days ago
10,10,Business Analyst,Axos Bank,www.Indeed.com//rc/clk?jk=caecfc1977105ecc&fcc...,12 days ago
11,11,Technical Business Analyst,Titan School Solutions,www.Indeed.com//rc/clk?jk=9c1e22714932d04d&fcc...,10 days ago
12,12,Data Analyst III (Business Analytics/ Tableau)...,"Signature Performance, Inc",www.Indeed.com//pagead/clk?mo=r&ad=-6NYlbfkN0D...,19 days ago
13,13,Trust & Safety Content Analyst,Genesis10,www.Indeed.com//cmp/Genesis10,15 days ago
14,14,Insurance Data Analyst I or II,National Indemnity Company,www.Indeed.com//rc/clk?jk=ca60027b89bb6968&fcc...,17 days ago